{% extends '::base.html.twig' %}

{% block body -%}
    <h1>procedencia creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('procedencia') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
